/* ------------------------------ */
/* sample01 */
/* ------------------------------ */
@charset "UTF-8";

/* ------------------------------ */
/* リセットCSS */
/* ------------------------------ */
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  column-width: 10%;
  margin: auto;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: center;
  font-family: 'Yu Gothic';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

textarea,
select {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  *font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* ------------------------------ */
/* 全体共通のスタイル */
/* ------------------------------ */
html {
  background-color: #fff;
}

body {
  line-height: 1.75;
  font-size: 16px;
  color: #333;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

.main {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
form {
    margin: 0 auto;
    width: 220px;
}
.title {
    font-size: 20px;
    text-align: center;
    font-family: "Yu Gothic";
    font-weight: bold;
}
.header01 {
    padding: 16px 24px;
    background-color: #b0e0e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header01-logo {
    font-weight: bold;
    font-size: 20px;
  }
  
  .header01-list {
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .header01-item--contact {
    background-color: #2486d1;
    color: #fff;
    padding: 6px 16px;
    border-radius: 6px;
  }
  .header01-item--contact:hover{
    background-color: #549bd1;
  }
